.results-background {
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(clouds.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.flight-results {
    background: linear-gradient(rgb(37, 179, 160), rgb(47,226,202));
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    height: 60vh;
    width: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forecast-modal {
    background: linear-gradient(rgb(37, 179, 160), rgb(47,226,202));
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    height: 35vh;
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}